body{
  border: 5px solid black;
  margin: 0;
  height: 100%;
  font-size: 30px;
  font-family: "Times New Roman", serif;
	background: linear-gradient(-45deg, #2bf718, #ace722, #f3b224, #f3270c);
	animation: gradient ease 15s infinite;
  -webkit-animation: gradient ease 15s infinite;
  -moz-animation: gradient ease 15s infinite;
  -o-animation: gradient ease 15s infinite;
  -ms-animation: gradient ease 15s infinite;
  -webkit-background-size: 400% 400%;
  -moz-background-size: 400% 400%;
  -o-background-size: 400% 400%;
  -ms-background-size: 400% 400%;
  background-size: 400% 400%;
  text-align: center;
  overflow: hidden;
}
html{
  overflow: hidden;
  margin: 0;
  height: 100%;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.Canvas{
  background-color: white;
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: 5px solid black;
  padding: 5px;
}
.chart-container{
  margin: auto;
  width: 50vw;
  height: 50vh;
  padding: 5px;
}

#submitButton {
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.bottom{
  position: relative;
  bottom: -20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

.Navigation{
  color: black;
}

#Progress {
  width: 100%;
  background-color: grey;
}

#Bar {
  width: 0%;
  height: 30px;
  background-color: green;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-o-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-ms-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}