<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/Css.css">
</head>

<body class = "indexBody">
<div><h1 class = "fade-in">Andreas Hinsch</h1></div>

<div class = "PacManIndex"><a href="/pacMan">PacMan</a><p>PacMan clone Limitations: must be played in fullscreen, Not mobile friendly</p></div>
<div class = "WikiIndex"><a href="/Wiki">WikiLinks</a><p>Wiki links</p></div>
<div class = "WebPositivityIndex"><a href="/WebPositivity">Web Positivity</a><p>Takes in either a URL or a search prompt and displays either a color depending on how positive or negative the website is (Green is positive and red is negative) or a pie chart showing the positivity and negativity of a selection of News given a number of years in a range for a search prompt. This process can take up to ~20 seconds.</p></div>


</body>
</html>