<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/Css.css">
<title>Web Positivity</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body id ="grad3">


<nav>
|<a href="/">Home</a>
|</nav>

<form>
    Input: <input type="text" name="input" id="Input"><br>
    <input type="radio" name="rad" id = "Website" checked="checked"> : Website<br>
    <input type="radio" name="rad" id = "News"> : News
    Number of years(oldest year is 2003): <input type="text" name="inputYears" id="yearsInput"><br>
    <!--<input type="radio" name="rad" id = "Tweets"> : Tweets<br>-->
    <input type="button" onclick="myFunction()" value="Submit" class = "button1">
</form>


</body>


<script type="text/javascript">

//Checks a website for positivity and sets a color to match the positivity
function checkWeb(TextInput, RadioInput) 
{
    $.ajax({
  url: "/backgroundWebProcess",
  type: "POST",
  data: { 
          text: TextInput
        },
}).done(function( o ) {
    
    //Failed to connect
    if(o == "Fail")
    {
        alert("Failed to connect Improper request")
    }
    else
    {
        alert(o)
        document.body.style.backgroundColor = o

    }

});

}


function checkManyWebs(TextInput, yearsInput)
{
    $.ajax({
  url: "/backgroundNewsProcess",
  type: "POST",
  data: { 
          text: TextInput,
          Years: yearsInput
        },
}).done(function( o ) {
    alert(o)
    document.body.style.backgroundColor = o

    
});
}


//Checks multiple sources about a
function myFunction() 
{

    //Store inputs and check for valid inputs
    var TextInput = document.getElementById("Input").value;
    var RadioInput = document.querySelector('input[name="rad"]:checked').id
    var yearsInput = document.getElementById("yearsInput").value;

    //Clear inputs
    document.getElementById("Input").value = '';
    document.getElementById("yearsInput").value = '';

    //Use Inputs
        if(TextInput == "")
        {
            alert("No Input given")
        }
        else
        {

            if(RadioInput == "")
        {
            alert("No Selection given")
        }
        else
        {
            if(RadioInput == "Website")
            {
                checkWeb(TextInput) 
            }
            else
            {
                if(yearsInput != 0)
                {
                    checkManyWebs(TextInput, yearsInput)
                }
                else
                {
                    alert("No years input given")
                }
                
            }
        }


        }
        
    

}


</script>


</html>